body {
    background-color: #070F2B;
}

#Title {
    color: azure;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
}

.Header {
    height: 300px;
    background-image: url("../images/Banner2.jpg");
    background-size: cover;
}

.main {
    background-color: #535C91;
    height: 1100px;
    text-align: left;
}

#divMain {
    margin: 300px;
}

#ParrafoMain {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: azure;
}

.ParrafoImg {
    display: inline-block;
    margin-left: 10px;

}

.Footer {
    background-color: #535C91;
}

#TitleFooter {
    font-size: 20px;
    color: azure;
}